

.base-bar {
  padding-top: 20vh;
  padding-bottom: 8vh;
  padding-left: 3.5vw;
  height: 100vh;
    width: 20vw;
    overflow-y: scroll;
    position: fixed;
    font-size: 30px;
}

.base-bar-card {
  width: 15vw;
}

.index-section, .show-section, .login-reg {
  padding-left: 25vw;
  padding-top: 5vh;
  padding-bottom: 8vh;
  height: 100vh;
}

.navbar {
  display: flex;
  position: fixed;
  width: 15vw;
}

.navbar-item {
  width: 5vw;
  text-align: center;
  font-size: 10px;
}
